header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Raleway', sans-serif;
}

.container {
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

/* Menu items style */
nav > ul > li {
    display: inline-block;
    float: left;
}

nav > ul > li > a {
    border-bottom: 3px solid #D6D8D9;
}

a.active {
    border-bottom: 3px solid #4FBC96;
    background: #F6F6F6;
    color: #4FBC96;
}

/* nav > ul > li.active > a.ac {
    color: #4FBC96;
} */

nav > ul > li > a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #95A2A9;
    font-weight: bold;
}

/* Sections styles */
.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
}

#section1 {
    background: #F6F6F6;
}

#section2 {
    background: #95A2A9;
}

#section3 {
    background: #A05050;
}

#section4 {
    background: #4FBC96;
}

#section5 {
    background: #5587B8;
}

#section6 {
    background: #D09696;
}