.container {
    width: 40%;
    margin: 20px auto;
    font-family: Calibri, sans-serif;
}

h1 {
    color: #14C177;
    font-weight: bold;
    font-size: 32px;
}

input {
    outline: none;
}

/* Styles for add skill box */
.add-skill-container {
    border: 2px solid #90E2BF;
    padding: 20px;
    margin: 20px 0;
}

.add-skill-item {
    position: relative;
    height: 38px;
    margin-bottom: 15px;
}

.add-skill-item label.skill-label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.add-skill-item input {
    width: calc(100% - 155px);
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    font-size: 14px;
}

.add-skill-item input::placeholder {
    font-family: Calibri, sans-serif;
    font-size: 14px;
}

/* Add skill button */
#add-skill-btn {
    padding: 8px 18px;
    margin-top: 10px;
    border-color: black;
    border-radius: 7px;
    background: black;
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 14px;
}

#add-skill-btn:hover {
    cursor: pointer;
}

/* Styles for skill item */
.skill-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #1CC37C;
}

.skill-item-name {
    font-size: 14px;
    color: white;
}

/* Styles for error messages */
.add-skill-item input + label {
    position: absolute;
    bottom: -10px;
    left: 0;
    color: red;
    font-size: 12px;
}